.box {
  width: 300px;
  height: 200px;
  box-shadow: 2px 3px 4px gray;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  padding: 10px;
  cursor: pointer;
  background-color: teal;
  color: white;
}